# https://mise.jdx.dev/configuration.html
[settings]
experimental = true

[tools]
hk = "1.32.0"
pkl = "0.30.2"
"cargo:cargo-release" = "latest"
"cargo:git-cliff" = "latest"

[env]
LSP_BINARY = "js-i18n-language-server"

[hooks]
postinstall = "hk install"

[tasks.build-install]
description = "Build and install the LSP binary"
run = "cargo install --path . --force --debug"
sources = ["Cargo.toml", "src/**/*.rs", "queries/**/*"]
outputs = ["{{env.CARGO_HOME}}/bin/{{env.LSP_BINARY}}"]

[tasks.build-install-release]
description = "Build and install the LSP binary"
run = "cargo install --path . --force"
sources = ["Cargo.toml", "src/**/*.rs", "queries/**/*"]
outputs = ["{{env.CARGO_HOME}}/bin/{{env.LSP_BINARY}}"]
